[submodule "lib/includes/js/mootools-core"]
	path = lib/includes/js/mootools-core
	url = git@github.com:GerHobbelt/mootools-core.git
[submodule "lib/includes/js/mootools-more"]
	path = lib/includes/js/mootools-more
	url = git@github.com:GerHobbelt/mootools-more.git
[submodule "lib/includes/js/lazyload"]
	path = lib/includes/js/lazyload
	url = git@github.com:GerHobbelt/lazyload.git
[submodule "lib/includes/js/mochaui"]
	path = lib/includes/js/mochaui
	url = git@github.com:GerHobbelt/mochaui.git
[submodule "lib/includes/js/tinymce"]
	path = lib/includes/js/tinymce
	url = git@github.com:GerHobbelt/tinymce.git
[submodule "lib/includes/rgrove-jsmin"]
	path = lib/includes/rgrove-jsmin
	url = git@github.com:GerHobbelt/jsmin-php.git
[submodule "lib/includes/js/excanvas"]
	path = lib/includes/js/excanvas
	url = git@github.com:GerHobbelt/excanvas.git
[submodule "lib/includes/js/PIE"]
	path = lib/includes/js/PIE
	url = git://github.com/lojjic/PIE.git
[submodule "lib/includes/js/edit_area"]
	path = lib/includes/js/edit_area
	url = git@github.com:GerHobbelt/EditArea.git
[submodule "lib/includes/js/coolclock"]
	path = lib/includes/js/coolclock
	url = git@github.com:GerHobbelt/CoolClock.git
[submodule "lib/includes/js/fancyupload"]
	path = lib/includes/js/fancyupload
	url = git@github.com:GerHobbelt/digitarald-fancyupload.git
[submodule "lib/includes/js/filemanager"]
	path = lib/includes/js/filemanager
	url = git@github.com:GerHobbelt/mootools-filemanager.git
[submodule "lib/includes/htmLawed"]
	path = lib/includes/htmLawed
	url = git@github.com:GerHobbelt/HTMLawed.git
[submodule "lib/styles/blueprint-css"]
	path = lib/styles/blueprint-css
	url = git@github.com:GerHobbelt/blueprint-css.git
[submodule "lib/includes/packager"]
	path = lib/includes/packager
	url = git@github.com:GerHobbelt/packager.git
[submodule "lib/includes/lessphp"]
	path = lib/includes/lessphp
	url = git@github.com:GerHobbelt/lessphp.git
[submodule "lib/includes/simpletest"]
	path = lib/includes/simpletest
	url = git@github.com:GerHobbelt/simpletest.git
[submodule "lib/includes/browscap"]
	path = lib/includes/browscap
	url = git@github.com:GerHobbelt/phpbrowscap.git
