##
#
# Copyright 2008 - 2010 by CompactCMS.nl. All rights reserved.
# This file is part of CompactCMS (refer to license.txt)
# Revision: CompactCMS - 1.4.1
#
##

#
# WARNING:
# 
# Be sure to read 
#    http://httpd.apache.org/docs/2.2/howto/htaccess.html#when
# and note that you should move the content of this .htaccess file to a
# <Directory> directory within your <VirtualHost> or 'main' apache config
# files, whenever possible, following the advice at the above-mentioned URL.
#

AddDefaultCharset utf-8
Options +FollowSymLinks

<IfDefine CCMS_installed>

RewriteEngine On 

## 
# Start modification
# Make sure the RewriteBase variable reflects your file structure
##


ErrorDocument 403 /index.php?page=403
ErrorDocument 404 /index.php?page=404


# For an installation under root use / (default)
# For an installation under /ccms use /ccms/
RewriteBase /

##
# End modification
##

##
# It's a good idea to make www. and non www. redirect to either one
# Adjust the two lines below and UNCOMMENT both lines (remove #'s)
##

# RewriteCond %{HTTP_HOST} ^www.mysite.com [NC] 
# RewriteRule ^(.*)$ http://mysite.com/$1 [L,R=301]

##
# Various rewrite rules
##


RewriteCond    %{REQUEST_FILENAME}  -f
RewriteRule    ^(.*\.html)$          $1  [L]
RewriteCond    %{REQUEST_FILENAME}  -f
RewriteRule    ^(.*\.csx)$           $1  [L]


RewriteRule ^([^/]*)/([^/]*)\.html$             index.php?page=$1&id=$2 [QSA,L]
RewriteRule ^([^/]*)/([^/]*)\.print$            index.php?page=$1&id=$2&printing=Y [QSA,L]
RewriteRule ^([^/]+)\.html$                     index.php?page=$1 [QSA,L]
RewriteRule ^([^/]+)\.print$                    index.php?page=$1&printing=Y [QSA,L]
RewriteRule ^lib/includes/js/([^/]+\.js)$       lib/includes/combine.inc.php?type=javascript&files=$1 [QSA,L]
RewriteRule ^admin/img/styles/([^/]+\.css)$     lib/includes/combine.inc.php?type=css&files=$1 [QSA,L]    
# pull EVERY OTHER JS/CSS file through combine as well: that's our generic cacher/compressor/optimizer
RewriteRule ^(lib/[^,]+)/([^/,]+\.js(,.+)?)$    lib/includes/combine.inc.php?type=javascript&files=$2&jsdir=$1 [QSA,L]
RewriteRule ^(lib/[^,]+)/([^/,]+\.css(,.+)?)$   lib/includes/combine.inc.php?type=css&files=$2&cssdir=$1 [QSA,L]
RewriteRule ^(admin/[^,]+)/([^/,]+\.js(,.+)?)$  lib/includes/combine.inc.php?type=javascript&files=$2&jsdir=$1 [QSA,L]
RewriteRule ^(admin/[^,]+)/([^/,]+\.css(,.+)?)$ lib/includes/combine.inc.php?type=css&files=$2&cssdir=$1 [QSA,L]
RewriteRule ^sitemap\.xml$                      index.php?page=sitemap [QSA,L]

</IfDefine> # CCMS_installed

##
# Security measures
##
RewriteCond %{QUERY_STRING} (.*)(http|https|ftp):\/\/(.*)
RewriteRule ^(.+)$ - [F]

<IfModule mod_security.c>
    SecFilterEngine On
    SecFilterDefaultAction "deny,log,status:403"
    SecFilterScanPOST On
    SecFilterCheckURLEncoding On
    SecFilterCheckUnicodeEncoding Off
</IfModule>

##
# The lines below improve loading times for the administration, following the best practice
# rules from: http://developer.yahoo.com/performance/rules.html. Note that both the Apache
# modules mod_deflate and mod_headers are required for this to work. Falls back nicely if 
# not enabled.
##

<IfModule mod_deflate.c>
    SetOutputFilter DEFLATE
</IfModule>

##
# Set expiry for caches using the apache Expire mod; misc. headers are set through the Headers module.
# The advantage is that we can specify flexible expire timestamps (no hardcoding!)
#
# See also
#   http://httpd.apache.org/docs/2.2/mod/mod_expires.html
# and
#   http://httpd.apache.org/docs/2.2/mod/mod_headers.html#header
##
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 1 year"
	ExpiresByType text/html "access plus 2 hours"
	ExpiresByType text/xml "access plus 2 hours"
	ExpiresByType application/xml "access plus 2 hours"
	
    <FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|swf|mp3|mp4)$">
    Header set Cache-Control "public"
    # Header set Expires "access plus 1 year"
    Header unset Last-Modified
    </FilesMatch>
    <FilesMatch "\.(html|htm|xml|txt|xsl)$">
    Header set Cache-Control "max-age=7200, must-revalidate"
    </FilesMatch>
    <FilesMatch "\.(js|css)$">
    Header set Cache-Control "public"
	# these are all set up in combine.inc.php in a better way...
	#
    # Header set Expires "access plus 4 year"
    # Header unset Last-Modified
    </FilesMatch>
    
	# the ETag is set in combine.inc.php and meant to be passed through!
    # Header unset ETag
    # Header unset Pragma
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|swf|mp3|mp4)$">
    Header set Cache-Control "public"
    # Header set Expires "access plus 1 year"
    Header unset Last-Modified
    </FilesMatch>
    <FilesMatch "\.(html|htm|xml|txt|xsl)$">
    Header set Cache-Control "max-age=7200, must-revalidate"
    </FilesMatch>
    <FilesMatch "\.(js|css)$">
    Header set Cache-Control "public"
	# these are all set up in combine.inc.php in a better way...
	#
    # Header set Expires "access plus 4 year"
    # Header unset Last-Modified
    </FilesMatch>
    
	# the ETag is set in combine.inc.php and meant to be passed through!
    # Header unset ETag
    # Header unset Pragma
</IfModule>

FileETag None

