/* --------------------------------------------------------------

   forms.css CCMS specific corrections

-------------------------------------------------------------- */

fieldset    { padding:0 1.4em 1.4em 1.4em; }

fieldset, #IE8#HACK { padding-top:1.4em; } 


input[type="text"], input[type="password"], input[type="url"], input[type="email"], input[type="number"]
{
  margin:0.5em 0;
}
input.text, input.title,
textarea, select {
  margin:0.5em 0;
}

